.cont {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main {
  display: flex;
}
.main div {
  width: 100px;
  height: 100px;
  background-color: rgb(167, 163, 158);
  margin: 10px;
}
h3 {
  color: white;
  text-align: center;
}
.text {
  font-weight: bold;
  font-size: 30px;
  color: lightgreen;
  display: block;
  text-align: center;
  margin-top: 20px;
}
.tag {
  text-align: center;
  display: block;
  font-weight: bold;
  color: white;
}
body {
  font-family: sans-serif;
}
.contain {
  background-color: black;
  width: 900px;
  height: 40em;
  position: relative;
  margin: 50px auto;
  box-shadow: 0px 0px 4px #7a7a7a;
}
.nav {
  background-color: rgb(121, 121, 113);
  overflow: hidden;
}
p {
  color: white;
  font-weight: bold;
  float: left;
  font-size: 20px;
  margin-left: 20px;
}
button {
  float: right;
  background-color: teal;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin: 10px 20px;
}